body{
  background-color:gray;
}

.App {
  text-align: center;
  margin:5%;
  background-color:whitesmoke;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.dropdown {
  position: relative;
  display: inline-block;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  top:45px;
  right:0px;
  width: 200px;
  background-color: white;
  font-weight:bold;
  position: absolute;

  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

li.dropdown-button {
  display: inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight:300;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
}
li.dropdown-button:hover{
  color:#000000;
  background-color:#FFFFFF
}
@media all and (max-width:30em){
  li.dropdown-button{
    display: block;
    margin:0.4em auto;
  } 
}
li {
  padding: 8px 16px;
  border-bottom: 1px solid #e5e5e5;
}
li:last-child {
  border-bottom: none;
}
li:hover {
  background-color: #e5e5e5;
  color: white;
}
.button{
  width:178px;
  height:18px;
  background-color:#ff3232 ;
  padding:12px;
  border-radius:5px;
  font-weight:bold;
  color:white;
}
.button:before{
  content:"";
  position:absolute;
  width:0px;
  height:0px;
  border: 10px solid;
  border-color: white transparent transparent transparent;
  right:6px;
  top:18px;
}


